body {
    background: #AC91EA;
}

.container {
    width: 50em;
    margin: auto;
    background: #30A6DD;
}

h1 {
    font-size: 3em;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #2E4753;
}

.giphyButtons {
    margin: auto;
    display: block;
}

button, #add-giphy {
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    font-family: 'Anton', sans-serif;
    background: #5833B0;
    border: none;
    border-radius: 50%;
}

.giphy {
    margin: auto;
    display: block;
}

p {
    display: box;
    margin: 1em auto;
    text-align: center;
    font-size: 2em;
    font-family: 'Anton', sans-serif;
    background: #2C23EE;
    width: 10em;
}

form {
    margin: 1em;
}

#addGiphy {
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    font-family: 'Anton', sans-serif;
    background: #5833B0;
    border: none;
    border-radius: 50%;
}

label {
    font-size: 1em;
    font-family: 'Anton', sans-serif;
}
